* {
	box-sizing: border-box;
	cursor: default;
	margin: 0;
}

@media (max-width: 400px) {

	#button, #refresh-button {
		margin: 10px 5px !important;
	}

	.inner-div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#image {
		max-width: 300px !important;
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px; /* 设置底部外边距 */
}

#button, #refresh-button {
	margin: 20px 10px;
	border-color: white;
	font-family: Tahoma, sans-serif;
	cursor: pointer;
	outline: none;
	border: none;
	/* box-shadow: 0 5px #999; */
}

#count {
	font-family: Tahoma, sans-serif;
	font-size: 18px;
	margin: 10px;
    text-align: center; /* 置中對齊文字 */
}

#image {
	display: none;
	max-width: 500px;
}

.nav-link, .navbar-brand, .navbar-toggler {
	cursor: pointer;
}

:root {
	--jumbotron-padding-y: 3rem;
  }
  
  .jumbotron {
	padding-top: var(--jumbotron-padding-y);
	padding-bottom: var(--jumbotron-padding-y);
	margin-bottom: 0;
	background-color: #fff;
  }
  @media (min-width: 768px) {
	.jumbotron {
	  padding-top: calc(var(--jumbotron-padding-y) * 2);
	  padding-bottom: calc(var(--jumbotron-padding-y) * 2);
	}
  }
  
  .jumbotron p:last-child {
	margin-bottom: 0;
  }
  
  .jumbotron-heading {
	font-weight: 300;
  }
  
  .jumbotron .container {
	max-width: 40rem;
  }
  